*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

html{
    font-family: 'Nanum Gothic', sans-serif;
}

ul,
li {
  list-style: none;
}

body{
    background: url(https://sushiro.co.kr/theme/basic/images/svis-bg.jpg) repeat;
    
}

nav{
    padding: 0%; 
    width: 100%;
}

nav .thumbnail{
    margin-top: 190px;
    width: 100%;
    height: 100%;
    
}

.thumbnail_img{
    background: url(../img/thumbnail.jpg) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    width: 1400px;
    height: 560px;
}

 .screen1{
    width: 80%;
    margin: 100px auto;
    position: relative;
    animation: fadeinup 2s;
}

.sc1font1{
     font-size: 30px; 
     color: #FFB72B; 
     line-height: 60px;
}

.sc1font2{
    line-height: 35px;
    font-size: 20px;
    color: white;
}

 .screen2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0%;
    width: auto;
    margin-bottom: 80px; 
    
}

.screen2-right{
    margin-left: 270px;
    display: inline-block;
}


.screen2-left{
    display: inline-block; 
}



div, ul, li{
    list-style: none;
}

.font1{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
    font-style: normal;
    color: #FF7979;
}

.font2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    color: white;
    line-height: 19px;
    
}

@keyframes fadeinup{
    0%{
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}

.screen3{
    width: 1200px;
    margin: 100px auto;
    position: relative;
    text-align: center;
}


.container{
    width: auto;
    margin-bottom: 10%;
}

.tabarea{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.box{
    margin-bottom: 45px;
}

.box > div > img{
    width: 310px;
    height: 310px;
    border: 4px solid #FFB72B;
}


.tabtext{
    text-align: center;
    margin-top: 17px;
    width: 310px;
}

.name{
    width: 310px;
    font-size: 20px;
    line-height: 24px;
    color: #ffff;
    font-weight: 700;
    margin-bottom: 3%;
}

.price{
    width: 310px;
    font-size: 26px;
    line-height: 31px;
    color:  #FF4545;
    font-weight: 700;
}

.tabs{
    text-align: center;
}


.tabs a{
    margin: 20px;
    font-size: 26px;
    font-weight: 700;
    color: #FFB72B;
    font-style: bold;
    display: inline-block;
    text-decoration: none;
}

#tabmenu2,
#tabmenu3{
  display: none;
}


    @media screen and (min-width: 800px)and (max-width: 1200px){
    nav .thumbnail{
        margin-top: 90px;
    }
    
    .thumbnail_img{
        width: 767px;
        height: 350px;
    }
    .screen2-right{
        margin-left: 100px;
    }

    .box > div > img{
        width: 200px;
        height: 200px;
        border: 2px solid #FFB72B;
    }
    
    
    .tabtext{
        width: 200px;
    }
    
    .name{
        width: 200px;
        
    }
    
    .price{
        width: 200px;
       
    }
    
   
}

    @media screen and (max-width: 799px){
        nav .thumbnail{
            margin-top: 90px;
        }
        
        .thumbnail_img{
            width: 480px;
            height: 200px;
        }

        .screen2{
            margin-bottom: 80px; 
            display: block;
        }
        
        .screen2-right{
            display: contents;
            margin-top: 30%;
        }
        
        .screen2-left{
            width: auto;
            margin: 0 auto;
            display: contents;
        }
        

        .tabarea {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
    }