#grandmenu_title {
  width: 148px;
  height: 39px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #ffb72b;
  display: flex;
  justify-content: center;
}
.grandmenu_yellowhr {
  border: 0px;
  border-top: 1px solid #ffb72b;
  width: 67.8%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}
#grandmenu_subtitle {
  width: 384px;
  height: 24px;
  margin: auto;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
}

#button_wrapper {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  padding:0 auto;
}

#button_wrapper .buttonimg {
  display: inline-block;
  width: 185px;
  height: 185px;
  position: relative;
  background-color: #ffb72b;
}

#button_wrapper .buttonimg img {
  width: 185px;
  height: 185px;
}

.inner_button {
  display: inline-block;
  width: 185px;

  margin-left: 2%;
  margin-right:2%;

  position: relative;
}

.button_hr {
  width: 185px;
  border: 0px;
  border-top: 1px solid #ffb72b;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left:2%;
  position: relative;
}

.button_text {
  position: relative;
  width: 185px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 38%;
  text-align: center;
}

.button_text:hover {
  color: #ffb72b;
}

.button_active {
  color: #ffb72b;
}

.grandmenu_whitehr {
  border: 0px;
  border-top: 1px solid #ffffff;
  width: 67.8%;
  margin: auto;
  margin-bottom: 85px;
  margin-top: 85px;
}

.grandmenu_box {
  width: 100%;
  height: auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  background-color: #000;

  padding-left:calc(50vw - 700px);
  padding-right:calc(50vw - 700px);
}

#menubox2,
#menubox3,
#menubox4 {
  display: none;
}

#eventbox2,
#eventbox3,
#eventbox4 {
  display: none;
}

.sushi_menubox {
  width: 200px;
  height: 300px;
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right:2%;
  margin-left:2%;
  display: inline-block;
  text-align: center;
}

.sushi_img {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #ffffff;
  border: 2.5px solid #ffb72b;
}

.sushi_name {
  width: 150px;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.sushi_price {
  width: 96px;
  height: 31px;
  font-size: 25px;
  line-height: 31px;
  color: #d02228;
}

.tabbox {
  position: relative;
  margin: auto;
  padding-left:40%;
  padding-right:40%;
  text-align: center;
  width:100%;
  font-size:1.5rem;
}

.tabbox a {
  color: #ffffff;
  margin-right: 5%;
}

@media (max-width: 900px) and (min-width:600px) {
  #button_wrapper {
    padding-right:15%;
    padding-left:15%;
  }
}
@media (max-width: 600px) {
  #button_wrapper {
    padding:0 auto;
  }
}