/*container*/

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
}

#high_text_content {
  text-align: center;
  padding: 50px;
}

#high_text_content h3 {
  font-size: 18px;
  color: #ffb319;
  padding-bottom: 15px;
}

#high_text_content p {
  color: white;
}

#button_box {
  text-align: center;
}

.page1_button {
  background-color: #ffffff;
}

.page2_button {
  background-color: #ffb319;
}

#high_text_content,
#button_box {
  animation-name: show;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.history_box {
  width: 100%;
  display: flex;
  color: white;
  padding: 100px 0 100px 200px;
  font-weight: bold;
  background-size: 100% 100%;
  animation: leftshow;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hisbg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/his_nbg.png) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 0.8;
}

.history_year {
  margin-right: 20px;
}

.history_year h2,
.history_year h3 {
  display: block;
}

.history_line {
  width: 1px;
  height: 595px;
  border-left: 1px solid #ffffff;
  transform: translatey(15px);
  position: relative;
}

.history_dot1 {
  width: 16px;
  height: 16px;
  position: absolute;
  top: -10px;
  left: -9px;
}

.history_dot2 {
  top: 124px;
}

.history_dot3 {
  bottom: 219px;
}
.history_dot4 {
  bottom: 89px;
}

.history_s_dot {
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.history_year h2 {
  font-size: 40px;
  transform: translatey(-19px);
}

.history_year h3 {
  font-size: 32px;
  text-align: end;
}

.history_year_2014 {
  margin-top: 80px;
}

.history_year_2017 {
  margin-top: 207px;
}

.history_year_2019 {
  margin-top: 89px;
}

.history_content {
  font-size: 18px;
  margin-left: 20px;
}

.history_2011 {
  margin-bottom: 100px;
}

.history_2014 {
  margin-bottom: 120px;
}

.history_2017 {
  margin-bottom: 100px;
}

.history_2011,
.history_2014,
.history_2017,
.history_2019 {
  line-height: 30px;
}

@media screen and (max-width: 767px) {
  .history_content {
    font-size: 13px;
  }

  .history_box {
    justify-content: center;
    padding: 100px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .history_box {
    justify-content: center;
    padding: 100px 0;
  }
}
